body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register, .link-button {
  background-color: #3f51b5;
  border-radius: 4px;
  color: black;
  height: 40px;
  width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover, .link-button:hover {
  background-color: #f50057;
}

.CreateEntryFormDiv {
  margin-left: auto;
  margin-right: auto;
  width: 800px;  
}

.CreateEntryChildDiv {
  margin-left: auto;
  margin-right: auto;
}

.materialForm {
  margin-left: auto;
  margin-right: auto;
  width: 500px; 
}


.loginInChildDiv {
  margin-left: auto;
  margin-right: auto;
  width: 300px; 
}

.logInFormDiv {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.registerFormDiv{
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
